@font-face {
  font-family: "Bitter-Black";
  src: url(../fonts/Bitter-Black.ttf); }
@font-face {
  font-family: "Bitter-Regular";
  src: url(../fonts/Bitter-Regular.ttf); }
.hr-line {
  margin-top: 70px;
  margin-bottom: 70px; }

a:focus {
  outline: none; }

.photo-btn {
  display: inline-block;
  background: #ffffff;
  text-decoration: none;
  text-align: center;
  border: 2px solid #535CA1;
  color: #535CA1;
  font-weight: bold;
  width: 120px;
  padding: 7px; }
  .photo-btn:hover {
    background-color: #535CA1;
    color: #ffffff; }

.d-flex {
  font-family: "Bitter-Regular"; }
  .d-flex .sidebar-heading .input-forms {
    background-color: #2E2E3A; }
    .d-flex .sidebar-heading .input-forms .input-search {
      background-color: #2E2E3A;
      border: 1px solid #2E2E3A;
      width: 100%;
      height: 70px;
      color: #fff;
      position: relative;
      padding: 8px;
      padding-right: 40px;
      box-sizing: border-box; }
    .d-flex .sidebar-heading .input-forms .fa-search {
      color: #fff;
      position: absolute;
      top: 28px;
      left: 210px;
      transform: rotate(-270deg);
      font-size: 14px; }
  .d-flex .menu-menu {
    padding: 30px 0; }
    .d-flex .menu-menu .item-colors {
      color: #eeebe3;
      text-decoration: none;
      font-size: 14px;
      letter-spacing: 1px; }
      .d-flex .menu-menu .item-colors:hover {
        color: #535CA1; }
      .d-flex .menu-menu .item-colors:focus {
        color: #535CA1; }
    .d-flex .menu-menu .dropdrop {
      width: 96%;
      border: 0; }
      .d-flex .menu-menu .dropdrop .sub-item-colors {
        color: #eeebe3;
        text-decoration: none;
        font-size: 13px;
        padding-left: 30px;
        letter-spacing: 1px; }
        .d-flex .menu-menu .dropdrop .sub-item-colors:hover {
          color: #535CA1; }
        .d-flex .menu-menu .dropdrop .sub-item-colors:focus {
          color: #535CA1; }

.dropdown-toggle {
  white-space: nowrap; }
  .dropdown-toggle::after {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 5em;
    vertical-align: 0.255em;
    border-top: 0;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 0;
    transform: rotate(45deg);
    border-radius: 1px; }

#wrapper {
  overflow-x: hidden; }
  #wrapper #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -16rem;
    transition: margin 0.25s ease-out; }
    #wrapper #sidebar-wrapper #sidebar-wrapper .sidebar-heading {
      padding: 0.875rem 1.25rem;
      font-size: 1.2rem; }
    #wrapper #sidebar-wrapper #sidebar-wrapper .list-group {
      width: 15rem; }
  #wrapper #page-content-wrapper {
    min-width: 100vw; }
  #wrapper #wrapper.toggled #sidebar-wrapper {
    margin-left: 0; }

.slider-area {
  background-color: #1E1F25;
  padding: 50px 0; }
  .slider-area .container .featured-h5 {
    color: #eeebe3;
    border-bottom: 1px solid #2E2E3A;
    padding-bottom: 5px;
    margin-bottom: 20px; }
  .slider-area .container .featured-p {
    color: #eeebe3;
    font-size: 13px;
    padding-top: 15px; }
  .slider-area .container .carousel .carousel-inner {
    width: 230px;
    height: 230px; }
    .slider-area .container .carousel .carousel-inner .carousel-item {
      object-fit: cover;
      height: 150px; }
  .slider-area .container .carousel .carousel-indicators {
    right: -75%; }
    .slider-area .container .carousel .carousel-indicators li {
      display: inline-block;
      width: 8px;
      height: 8px;
      text-indent: -99px;
      cursor: pointer;
      border: 1px solid #535CA1;
      background: #535CA1;
      margin-bottom: 244px;
      opacity: 0.2; }
    .slider-area .container .carousel .carousel-indicators .active {
      opacity: 1; }

.display {
  display: flex;
  justify-content: flex-end;
  height: 70px; }
  .display .btn-menu-section {
    background-color: transparent;
    border: 0;
    margin-left: -6px; }
    .display .btn-menu-section:focus {
      outline: none; }
    .display .btn-menu-section .fa-bars {
      color: #ffffff;
      font-size: 20px;
      position: fixed;
      top: 0;
      background-color: rgba(83, 92, 161, 0.7);
      padding: 24.5px;
      z-index: 3; }
  .display .container {
    width: 90%; }
  .display .ramayana {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: 0; }

.sections-image {
  width: 90%;
  text-align: center;
  margin-top: 70px; }
  .sections-image .sections-photo {
    position: relative;
    min-height: 180px; }
    .sections-image .sections-photo .images-photo {
      min-height: 180px;
      width: 100%;
      display: block;
      object-fit: cover; }
    .sections-image .sections-photo .photo-text {
      background: rgba(255, 255, 255, 0.9);
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 30%;
      border-radius: 0;
      min-width: 400px;
      padding: 30px; }
      .sections-image .sections-photo .photo-text .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left; }
        .sections-image .sections-photo .photo-text .card-body .photo-card-h4 {
          font-family: "Bitter-Black";
          font-size: 30px; }
        .sections-image .sections-photo .photo-text .card-body .photo-gray-p {
          color: gray; }
        .sections-image .sections-photo .photo-text .card-body .photo-black-p {
          font-size: 15px;
          color: #5e5c5c; }
  .sections-image .six-card-group .six-card {
    border-right: 2px solid #ffffff;
    margin-bottom: 3px;
    background-color: #eaebef;
    padding: 45px;
    text-align: center;
    transition: all 0.5s;
    line-height: 2;
    box-sizing: border-box;
    min-height: 279px; }
    .sections-image .six-card-group .six-card:hover {
      background: #535CA1;
      color: #ffffff; }
    .sections-image .six-card-group .six-card .six-icon {
      font-size: 30px; }
    .sections-image .six-card-group .six-card .six-card-body {
      margin-top: 20px; }
      .sections-image .six-card-group .six-card .six-card-body .six-card-title {
        font-weight: bold; }
      .sections-image .six-card-group .six-card .six-card-body .six-card-text {
        font-size: 14px; }
        .sections-image .six-card-group .six-card .six-card-body .six-card-text .link-card {
          text-decoration: none;
          color: #007BFF; }
          .sections-image .six-card-group .six-card .six-card-body .six-card-text .link-card:hover {
            color: #d8af26; }
  .sections-image .watch-section .watch-photo .watch-image {
    width: 100%;
    object-fit: cover;
    display: block; }
  .sections-image .watch-section .watch-text {
    text-align: left;
    margin-top: 25px; }
    .sections-image .watch-section .watch-text .watch-h5 {
      font-weight: bold;
      margin-bottom: 20px; }
    .sections-image .watch-section .watch-text .watch-p {
      color: gray;
      margin-bottom: 30px; }

.section-foot .down-photo .coffee-photo {
  height: 370px; }
  .section-foot .down-photo .coffee-photo .coffee-img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
.section-foot .coffee-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .section-foot .coffee-text .coffee-h5 {
    font-weight: bold; }
    .section-foot .coffee-text .coffee-h5 .coffee-p {
      font-size: 13px; }

.last-section {
  margin-bottom: 70px; }

@media screen and (max-width: 480px) {
  .sections-image .sections-photo .photo-text {
    min-width: 150px;
    max-width: 220px;
    height: 160px;
    padding: 0;
    left: 45%; }
    .sections-image .sections-photo .photo-text .card-body .photo-card-h4 {
      font-size: 10px; }
    .sections-image .sections-photo .photo-text .card-body .photo-gray-p {
      font-size: 9px; }
    .sections-image .sections-photo .photo-text .card-body .photo-black-p {
      font-size: 8px; }
    .sections-image .sections-photo .photo-text .card-body .photo-btn {
      width: 60px;
      padding: 2px;
      font-size: 7px; }

  .six-card-group .six-card {
    margin: 0 auto;
    width: 90%; }
    .six-card-group .six-card .six-card-body .six-card-title {
      font-size: 15px; }
    .six-card-group .six-card .six-card-body .six-card-text {
      font-size: 12px !important; }

  .watch-section .watch-photo {
    height: 150px; }
    .watch-section .watch-photo .watch-image {
      height: 100%; }
  .watch-section .watch-text {
    margin-top: 20px; }
    .watch-section .watch-text .watch-h5 {
      font-size: 15px; }
    .watch-section .watch-text .watch-p {
      font-size: 12px;
      text-align: justify; }
    .watch-section .watch-text .photo-btn {
      width: 100px;
      padding: 6px;
      font-size: 13px; }

  .section-foot .down-photo .coffee-photo {
    height: 200px; }
    .section-foot .down-photo .coffee-photo .coffee-img-item {
      margin-top: 20px; }
  .section-foot .coffee-text .coffee-h5 {
    font-size: 15px; }
  .section-foot .coffee-text .h5-text {
    margin-top: 20px; }
  .section-foot .coffee-text .coffee-p {
    font-size: 12px;
    text-align: justify; }
  .section-foot .coffee-text .photo-btn {
    width: 100px;
    padding: 6px;
    font-size: 13px; } }
@media screen and (min-width: 481px) and (max-width: 768px) {
  .sections-image .sections-photo .photo-text {
    min-width: 200px;
    height: 200px;
    padding: 10px;
    left: 40%; }
    .sections-image .sections-photo .photo-text .card-body .photo-card-h4 {
      font-size: 13px; }
    .sections-image .sections-photo .photo-text .card-body .photo-gray-p {
      font-size: 11px; }
    .sections-image .sections-photo .photo-text .card-body .photo-black-p {
      font-size: 10px; }
    .sections-image .sections-photo .photo-text .card-body .photo-btn {
      width: 90px;
      padding: 3px;
      font-size: 11px; }

  .watch-section .watch-text .watch-h5 {
    font-size: 16px; }
  .watch-section .watch-text .watch-p {
    font-size: 12px;
    text-align: justify; }
  .watch-section .watch-text .photo-btn {
    width: 100px;
    padding: 5px;
    font-size: 13px; }

  .section-foot .down-photo .coffee-photo {
    height: 270px; }
    .section-foot .down-photo .coffee-photo .coffee-img-item {
      margin-top: 20px; }
  .section-foot .coffee-text .coffee-h5 {
    font-size: 16px; }
  .section-foot .coffee-text .h5-text {
    margin-top: 20px; }
  .section-foot .coffee-text .coffee-p {
    font-size: 12px;
    text-align: justify; }
  .section-foot .coffee-text .photo-btn {
    width: 100px;
    padding: 5px;
    font-size: 13px; } }
@media screen and (min-width: 769px) and (max-width: 992px) {
  .sections-image .sections-photo .photo-text {
    min-width: 300px;
    height: 300px;
    padding: 10px; }
    .sections-image .sections-photo .photo-text .card-body .photo-card-h4 {
      font-size: 20px; }
    .sections-image .sections-photo .photo-text .card-body .photo-gray-p {
      font-size: 13px; }
    .sections-image .sections-photo .photo-text .card-body .photo-black-p {
      font-size: 13px; }
    .sections-image .sections-photo .photo-text .card-body .photo-btn {
      width: 100px;
      padding: 5px;
      font-size: 13px; }

  .watch-section .watch-text .watch-h5 {
    font-size: 18px; }
  .watch-section .watch-text .watch-p {
    font-size: 14px;
    text-align: justify; }
  .watch-section .watch-text .photo-btn {
    width: 110px;
    padding: 7px;
    font-size: 13px; }

  .section-foot .coffee-text .coffee-h5 {
    font-size: 14px; }
  .section-foot .coffee-text .coffee-p {
    font-size: 14px;
    text-align: justify; }
  .section-foot .coffee-text .photo-btn {
    width: 110px;
    padding: 7px;
    font-size: 13px; } }
@media screen and (min-width: 993px) and (max-width: 1100px) {
  .sections-image .sections-photo .photo-text {
    min-width: 320px;
    height: 320px;
    padding: 20px; }
    .sections-image .sections-photo .photo-text .card-body .photo-card-h4 {
      font-size: 20px; }
    .sections-image .sections-photo .photo-text .card-body .photo-gray-p {
      font-size: 13px; }
    .sections-image .sections-photo .photo-text .card-body .photo-black-p {
      font-size: 13px; }
    .sections-image .sections-photo .photo-text .card-body .photo-btn {
      width: 100px;
      padding: 5px;
      font-size: 13px; } }
@media (min-width: 910px) {
  #sidebar-wrapper {
    margin-left: 0 !important; }

  #page-content-wrapper {
    min-width: 0 !important;
    width: 100% !important; }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -17rem !important; } }

/*# sourceMappingURL=main.css.map */
