$section-color: #535CA1
$left-color: #2E2E3A
$slider-color: #1E1F25

=hocus
    &:focus
        outline: none

@font-face
    font-family: 'Bitter-Black'
    src: url(../fonts/Bitter-Black.ttf)

@font-face
    font-family: 'Bitter-Regular'
    src: url(../fonts/Bitter-Regular.ttf)

.hr-line
    margin-top: 70px
    margin-bottom: 70px

a
    &:focus
        outline: none

.photo-btn
    display: inline-block
    background: #ffffff
    text-decoration: none
    text-align: center
    border: 2px solid $section-color
    color: $section-color
    font-weight: bold
    width: 120px
    padding: 7px
    &:hover
        background-color: $section-color
        color: #ffffff

// S I D E B A R
.d-flex
    font-family: 'Bitter-Regular'
    .sidebar-heading
        .input-forms
            background-color: $left-color
            .input-search
                background-color: $left-color
                border: 1px solid $left-color
                width: 100%
                height: 70px
                color: #fff
                position: relative
                padding: 8px
                padding-right: 40px
                box-sizing: border-box
            .fa-search
                color: #fff
                position: absolute
                top: 28px
                left: 210px
                transform: rotate(-270deg)
                font-size: 14px
    .menu-menu
        padding: 30px 0
        .item-colors
            color: #eeebe3
            text-decoration: none
            font-size: 14px
            letter-spacing: 1px
            &:hover
                color: $section-color
            &:focus
                color: $section-color
        .dropdrop
            width: 96%
            border: 0
            .sub-item-colors
                color: #eeebe3
                text-decoration: none
                font-size: 13px
                padding-left: 30px
                letter-spacing: 1px
                &:hover
                    color: $section-color
                &:focus
                    color: $section-color

.dropdown-toggle
    white-space: nowrap
    &::after
        display: inline-block
        width: 12px
        height: 12px
        margin-left: 5em
        vertical-align: 0.255em
        // content: "\f09a"
        // font-family: "Font Awesome 5 Brands"
        border-top: 0
        border-right: 3px solid white
        border-bottom: 3px solid white
        border-left: 0
        transform: rotate(45deg)
        border-radius: 1px

#wrapper
    overflow-x: hidden
    #sidebar-wrapper
        min-height: 100vh
        margin-left: -16rem
        transition: margin .25s ease-out
        #sidebar-wrapper .sidebar-heading
            padding: 0.875rem 1.25rem
            font-size: 1.2rem
        #sidebar-wrapper .list-group
            width: 15rem
    #page-content-wrapper
        min-width: 100vw
    #wrapper.toggled #sidebar-wrapper
        margin-left: 0

// S L I D E R
.slider-area
    background-color: $slider-color
    padding: 50px 0
    .container
        .featured-h5
            color: #eeebe3
            border-bottom: 1px solid $left-color
            padding-bottom: 5px
            margin-bottom: 20px
        .featured-p
            color: #eeebe3
            font-size: 13px
            padding-top: 15px
        .carousel
            .carousel-inner
                width: 230px
                height: 230px
                .carousel-item
                    object-fit: cover
                    height: 150px
            .carousel-indicators
                right: -75%
                li
                    display: inline-block
                    width: 8px
                    height: 8px
                    text-indent: -99px
                    cursor: pointer
                    border: 1px solid $section-color
                    background: $section-color
                    margin-bottom: 244px
                    opacity: 0.2
                .active
                    opacity: 1

// R I G H T  S E C T I O N
.display
    display: flex
    justify-content: flex-end
    height: 70px
    .btn-menu-section
        background-color: transparent
        border: 0
        margin-left: -6px
        +hocus
        .fa-bars
            color: #ffffff
            font-size: 20px
            position: fixed
            top: 0
            background-color: rgba(83, 92, 161, 0.7)
            padding: 24.5px
            z-index: 3
    .container
        width: 90%
    .ramayana
        color: #ffffff
        text-decoration: none
        font-weight: bold
        font-size: 23px
        letter-spacing: 1px
        margin-left: auto
        margin-right: 0

.sections-image
    width: 90%
    text-align: center
    margin-top: 70px
    .sections-photo
        position: relative
        min-height: 180px
        .images-photo
            min-height: 180px
            width: 100%
            display: block
            object-fit: cover
        .photo-text
            background: rgba(255, 255, 255, 0.9)
            position: absolute
            top: 50%
            transform: translate(-50%, -50%)
            left: 30%
            border-radius: 0
            min-width: 400px
            padding: 30px
            .card-body
                display: flex
                flex-direction: column
                justify-content: space-between
                text-align: left
                .photo-card-h4
                    font-family: 'Bitter-Black'
                    font-size: 30px
                .photo-gray-p
                    color: gray
                .photo-black-p
                    font-size: 15px
                    color: #5e5c5c
       
    .six-card-group
        .six-card
            border-right: 2px solid #ffffff
            margin-bottom: 3px
            background-color: #eaebef
            padding: 45px
            text-align: center
            transition: all 0.5s
            line-height: 2
            box-sizing: border-box
            min-height: 279px
            &:hover
                background: $section-color
                color: #ffffff
            .six-icon
                font-size: 30px
            .six-card-body
                margin-top: 20px
                .six-card-title
                    font-weight: bold
                .six-card-text
                    font-size: 14px
                    .link-card
                        text-decoration: none
                        color: #007BFF
                        &:hover
                            color: #d8af26
    .watch-section
        .watch-photo
            .watch-image
                width: 100%
                object-fit: cover
                display: block
        .watch-text
            text-align: left
            margin-top: 25px
            .watch-h5
                font-weight: bold
                margin-bottom: 20px
            .watch-p
                color: gray
                margin-bottom: 30px

.section-foot
    .down-photo
        .coffee-photo
            height: 370px
            .coffee-img
                width: 100%
                height: 100%
                object-fit: cover
    .coffee-text
        text-align: left
        display: flex
        flex-direction: column
        justify-content: space-between
        .coffee-h5
            font-weight: bold
            .coffee-p
                font-size: 13px

.last-section
    margin-bottom: 70px

@media screen and ( max-width: 480px )
    .sections-image
        .sections-photo
            .photo-text
                min-width: 150px
                max-width: 220px
                height: 160px
                padding: 0
                left: 45%
                .card-body
                    .photo-card-h4
                        font-size: 10px
                    .photo-gray-p
                        font-size: 9px
                    .photo-black-p
                        font-size: 8px
                    .photo-btn
                        width: 60px
                        padding: 2px
                        font-size: 7px

    .six-card-group
        .six-card
            margin: 0 auto
            width: 90%
            .six-card-body
                .six-card-title
                    font-size: 15px
                .six-card-text
                    font-size: 12px !important

    .watch-section
        .watch-photo
            height: 150px
            .watch-image
                height: 100%
        .watch-text
            margin-top: 20px
            .watch-h5
                font-size: 15px
            .watch-p
                font-size: 12px
                text-align: justify
            .photo-btn
                width: 100px
                padding: 6px
                font-size: 13px

    .section-foot
        .down-photo
            .coffee-photo
                height: 200px
                .coffee-img-item
                    margin-top: 20px    
        .coffee-text
            .coffee-h5
                font-size: 15px
            .h5-text
                margin-top: 20px
            .coffee-p
                font-size: 12px
                text-align: justify
            .photo-btn
                width: 100px
                padding: 6px
                font-size: 13px

@media screen and ( min-width: 481px ) and ( max-width: 768px )
    .sections-image
        .sections-photo
            .photo-text
                min-width: 200px
                height: 200px
                padding: 10px
                left: 40%
                .card-body
                    .photo-card-h4
                        font-size: 13px
                    .photo-gray-p
                        font-size: 11px
                    .photo-black-p
                        font-size: 10px
                    .photo-btn
                        width: 90px
                        padding: 3px
                        font-size: 11px
    .watch-section
        .watch-text
            .watch-h5
                font-size: 16px
            .watch-p
                font-size: 12px
                text-align: justify
            .photo-btn
                width: 100px
                padding: 5px
                font-size: 13px

    .section-foot
        .down-photo
            .coffee-photo
                height: 270px
                .coffee-img-item
                    margin-top: 20px 
        .coffee-text
            .coffee-h5
                font-size: 16px
            .h5-text
                margin-top: 20px
            .coffee-p
                font-size: 12px
                text-align: justify
            .photo-btn
                width: 100px
                padding: 5px
                font-size: 13px

@media screen and ( min-width: 769px ) and ( max-width: 992px )
    .sections-image
        .sections-photo
            .photo-text
                min-width: 300px
                height: 300px
                padding: 10px
                .card-body
                    .photo-card-h4
                        font-size: 20px
                    .photo-gray-p
                        font-size: 13px
                    .photo-black-p
                        font-size: 13px
                    .photo-btn
                        width: 100px
                        padding: 5px
                        font-size: 13px

    .watch-section
        .watch-text
            .watch-h5
                font-size: 18px
            .watch-p
                font-size: 14px
                text-align: justify
            .photo-btn
                width: 110px
                padding: 7px
                font-size: 13px

    .section-foot
        .coffee-text
            .coffee-h5
                font-size: 14px
            .coffee-p
                font-size: 14px
                text-align: justify
            .photo-btn
                width: 110px
                padding: 7px
                font-size: 13px

@media screen and ( min-width: 993px ) and ( max-width: 1100px )
    .sections-image
        .sections-photo
            .photo-text
                min-width: 320px
                height: 320px
                padding: 20px
                .card-body
                    .photo-card-h4
                        font-size: 20px
                    .photo-gray-p
                        font-size: 13px
                    .photo-black-p
                        font-size: 13px
                    .photo-btn
                        width: 100px
                        padding: 5px
                        font-size: 13px
    

@media (min-width: 910px)
    #sidebar-wrapper
        margin-left: 0!important
    #page-content-wrapper
        min-width: 0!important
        width: 100%!important
    #wrapper.toggled #sidebar-wrapper
        margin-left: -17rem!important
